[submodule "SDKS/Externals/FreeImage"]
	path = SDKS/Externals/FreeImage
	url = https://github.com/D0ct0rDave/FreeImage.git
[submodule "SDKS/Externals/wxWidgets2.8"]
	path = SDKS/Externals/wxWidgets2.8
	url = https://github.com/D0ct0rDave/wxWidgets.git
	branch = WX_2_8_BRANCH
[submodule "SDKS/Externals/OpenGL"]
	path = SDKS/Externals/OpenGL
	url = https://github.com/D0ct0rDave/OpenGL
[submodule "SDKS/Externals/lua"]
	path = SDKS/Externals/lua
	url = https://github.com/D0ct0rDave/lua.git
[submodule "SDKS/Externals/libconfigPortable"]
	path = SDKS/Externals/libconfigPortable
	url = https://github.com/D0ct0rDave/libconfigPortable.git
